/* Show it is fixed to the top */
body {
  min-height: 75rem;
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.phone-img {
  transform: rotate(20deg);
  width: 25rem;
  position: absolute;
}
@media (max-width: 1028px) {
  .phone-img {
    transform: rotate(0deg);
    width: 25rem;
    position: static;
  }
  #title {
    text-align: center;
  }
}




h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#title {
  background-color: #ff4c68;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.fa-solid {
  color: #ef8172;
  padding: 1rem;
}
.fa-solid:hover {
  color: #ff4c68;
  
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

#features {
  padding: 100px 50px;
  background-color: white;
  position: relative;
}

.feature-box {
  padding: 20px;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

h2 {
  font-family: Montserrat;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 900;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;

}

/* Call to action section */
#cta {
  background-color: #ff4c68;
  padding: 1rem 1.5rem;
  text-align: center;
}

#cta-title {
  margin-top: 5rem;
  font-size: 3rem;
}

/* Footer Section */

#footer {
  text-align: center;
  padding: 5%;
  margin: 0;
  background-color: #fff;
}